Table of Contents:
1) Importing Libraries
2) Importing 'ords_prods_merge_cor1.pkl'
3) Creating 'loyalty flag', 'Spending flag', 'frequency flag'
4) Exporting dataset as 'ords_prods_merge_grp_agg1.pkl'

In [1]:
# Importing pandas
import pandas as pd
import numpy as np
import os

In [2]:
# Establishing a path
path = r'C:\Users\user\OneDrive\Documents\Instacart basket analysis Career foundry'

In [3]:
path

'C:\\Users\\user\\OneDrive\\Documents\\Instacart basket analysis Career foundry'

In [4]:
#importing ords_prods_merge
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'prepared Data', 'ords_prods_merge_cor1.pkl'))

In [5]:
ords_prods_merge.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest day,busiest_period_of_day
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both,Mid_range_products,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid_range_products,Slowest days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid_range_products,Slowest days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid_range_products,Slowest days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid_range_products,Slowest days,Most orders

In [6]:
ords_prods_merge.shape

(32404859, 17)

In [7]:
#Grouping ords_prods_merge by departmrnt_id
ords_prods_merge.groupby('department_id')['order_number'].mean() #FINDING MEAN OF ORDERS PER DEPARTMENT

department_id
1     15.457838
2     17.277920
3     17.170395
4     17.811403
5     15.215751
6     16.439806
7     17.225802
8     15.340650
9     15.895474
10    20.197148
11    16.170638
12    15.887671
13    16.583536
14    16.773669
15    16.165037
16    17.665606
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

#Difference between subset and Entire Dataset
- we have all 21 department_ids in this list whereas we had only 8 department_id in the subset
- The mean of the department_ids that are common has changed.
- We are able to get a more accurate mean in mains output as compared to the subset.

In [8]:
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max) #FINDING THE MAXIMUM ORDER PER USER/CUSTOMER

In [9]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest day,busiest_period_of_day,max_order
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both,Mid_range_products,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid_range_products,Slowest days,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid_range_products,Slowest days,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid_range_products,Slowest days,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid_range_products,Slowest days,Most orders,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid_range_products,Regularly busy,Average orders,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid_range_products,Busiest days,Most orders,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid_range_products,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid_range_products,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid_range_products,Slowest days,Average orders,10
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid_range_products,Busiest days,Most orders,22
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid_range_products,Regularly busy,Most orders,22
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid_range_products,Regularly busy,Most orders,22
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid_range_products,Busiest days,Most orders,22
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid_range_products,Busiest days,Most orders,22

In [10]:
pd.options.display.max_rows = None #command to see all rows in the head function for eg:head(100)

In [11]:
ords_prods_merge['prices'].dtype

dtype('float64')

In [12]:
#aggregating the customers based on their orders
ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [13]:
ords_prods_merge.head() #checking the new column loyalty_flag

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest day,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both,Mid_range_products,Regularly busy,Average orders,10,New customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid_range_products,Slowest days,Average orders,10,New customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid_range_products,Slowest days,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid_range_products,Slowest days,Average orders,10,New customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid_range_products,Slowest days,Most orders,10,New customer

In [14]:
ords_prods_merge[['order_number','user_id','loyalty_flag']].head(60)

    order_number  user_id      loyalty_flag
0              1        1      New customer
1              2        1      New customer
2              3        1      New customer
3              4        1      New customer
4              5        1      New customer
5              6        1      New customer
6              7        1      New customer
7              8        1      New customer
8              9        1      New customer
9             10        1      New customer
10            15       15  Regular customer
11            17       15  Regular customer
12            18       15  Regular customer
13            21       15  Regular customer
14            22       15  Regular customer
15             2       19      New customer
16             5       19      New customer
17             7       19      New customer
18            10       21  Regular customer
19            10       31  Regular customer
20            17       31  Regular customer
21             6       43  Regular customer
22             9       43  Regular customer
23             1       52  Regular customer
24             2       52  Regular customer
25             3       52  Regular customer
26             5       52  Regular customer
27             7       52  Regular customer
28             9       52  Regular customer
29            10       52  Regular customer
30            11       52  Regular customer
31            12       52  Regular customer
32            15       52  Regular customer
33            17       52  Regular customer
34            18       52  Regular customer
35            19       52  Regular customer
36            21       52  Regular customer
37             1       67  Regular customer
38             2       67  Regular customer
39             3       67  Regular customer
40             4       67  Regular customer
41             5       67  Regular customer
42             6       67  Regular customer
43             8       67  Regular customer
44             9       67  Regular customer
45            10       67  Regular customer
46            11       67  Regular customer
47            12       67  Regular customer
48            13       67  Regular customer
49            14       67  Regular customer
50            16       67  Regular customer
51            18       67  Regular customer
52            19       67  Regular customer
53            21       67  Regular customer
54            22       67  Regular customer
55            23       67  Regular customer
56             3       81      New customer
57             5       81      New customer
58             1       82  Regular customer
59             3       82  Regular customer

In [15]:
ords_prods_merge['loyalty_flag'].value_counts(dropna = False) #checking the value counts for each loyalty class

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [16]:
#we shall execute the following command to determine the basic statistics of expenditure grouped by loyalty class
ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean','min','max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

#THERE IS NOT MUCH DIFFERENCE BETWEEN MAXIMUM AND MINIMUM EXPENDITURE. 
#THIS MEANS THAT CUSTOMERS OF ALL LOYALTY CLASSES PURCHASE AT ALMOST SIMILAR PRICES.OR Purchasing power of all Loyalty classes is the same.
#purchasing preference doesnot vary with loyalty class
#However it can be noted that NEW CUSTOMERS on an average spend more than loyal and regular customers.

In [17]:
ords_prods_merge['prices'].info() #Determining the information about the data in the 'prices' column

<class 'pandas.core.series.Series'>
Int64Index: 32404859 entries, 0 to 32404858
Series name: prices
Non-Null Count     Dtype
--------------     -----
32404859 non-null  float64
dtypes: float64(1)
memory usage: 494.5 MB

In [18]:
ords_prods_merge['prices'].value_counts(dropna = False) #Dtermining the value counts for the 'prices' column

12.3       624261
10.3       510496
4.0        447272
6.3        438467
1.3        425691
7.3        411924
8.2        404015
1.4        392209
6.7        379126
4.5        367223
4.4        357026
6.8        354168
7.9        342988
14.3       334811
13.2       333183
5.7        323997
1.8        321184
9.1        320782
4.9        318220
8.8        318091
3.8        315426
6.9        314196
14.0       311640
12.8       309727
11.4       303015
3.6        300127
1.6        299352
2.0        286259
11.8       284476
5.3        284243
7.0        282884
14.7       279291
6.5        278357
8.3        276230
4.1        268269
2.9        264700
1.2        256258
8.6        254009
3.2        253782
5.2        251509
5.5        250136
3.1        249256
2.5        246421
4.2        245755
6.1        244209
1.1        242782
2.3        242051
5.8        241047
7.5        239261
14.1       238211
3.3        238041
10.5       237657
7.4        233506
9.0        228576
8.4        227493
5.0        225904
13.4       225843
11.5       225399
5.1        224797
3.4        223571
7.2        223120
3.5        222786
3.7        222159
4.7        221048
8.9        219412
9.6        216626
13.5       216276
1.7        213967
11.3       212926
3.9        212805
11.2       212323
2.6        211936
5.9        208900
5.4        206769
6.4        206468
11.7       206199
2.1        206004
6.6        204936
10.6       204804
2.7        199785
9.4        197179
6.0        196985
2.4        196042
9.8        194754
4.8        193853
3.0        192650
10.7       191705
7.7        190070
14.8       188844
12.2       188444
7.8        186923
5.6        183638
11.0       183505
9.2        182411
12.1       181986
13.7       181882
6.2        178656
8.1        176805
12.6       174427
13.3       173797
13.6       172962
11.1       169709
9.9        169251
9.3        168917
14.4       168272
8.7        166742
9.5        165789
10.2       165789
10.9       165607
12.0       164717
13.8       162616
4.3        162367
12.9       160860
2.2        160243
14.9       156433
1.9        156179
1.5        154527
2.8        153979
12.5       152781
8.0        151542
11.6       148742
13.9       145234
4.6        144069
7.1        140813
14.6       139880
10.1       139263
8.5        139244
10.4       133058
14.5       129540
10.0       127842
11.9       127349
12.7       124544
9.7        120777
14.2       119314
13.1       117047
1.0        115143
13.0       114503
7.6        113878
12.4        97866
15.0        97261
10.8        89927
21.1        33805
19.6        28383
22.3        19430
24.2        15891
18.2        14923
23.2        14866
25.0        13772
23.8        12585
21.6        10598
18.7        10503
23.1         9135
23.6         8458
18.6         8451
18.1         8027
21.3         7647
15.3         7495
24.7         7283
20.7         6568
19.3         6537
24.9         5781
20.0         5775
19.7         5538
19.4         5457
20.4         5351
22.1         5204
15.9         5078
16.9         4971
23.3         4803
16.8         4795
15.7         4551
14900.0      4429
18.8         4363
24.0         4327
17.3         4309
17.1         4231
16.6         4212
16.4         3892
22.9         3884
17.0         3836
20.1         3745
23.0         3265
18.5         3105
16.7         3105
19.1         2926
24.3         2889
19.0         2823
21.7         2553
16.5         2541
15.1         2422
15.5         2325
22.6         2275
24.5         2148
23.9         2074
17.7         2073
24.6         1962
23.5         1924
16.2         1823
18.4         1762
17.4         1721
16.1         1622
23.7         1346
22.4         1280
16.0         1272
22.0         1182
22.2         1178
15.4         1175
20.6         1167
18.0         1135
22.8         1089
20.9         1075
17.2         1001
19.2          981
17.8          981
24.1          978
20.5          945
19.9          887
20.8          852
15.8          772
22.5          706
99999.0       698
21.9          689
17.6          640
21.8          546
24.4          499
15.2          494
18.9          483
19.5          453
24.8          410
17.5          369
23.4          368
19.8          344
15.6          333
16.3          287
20.3          236
21.4          137
17.9          137
20.2          123
22.7           99
21.5           85
18.3           11
21.0            8
Name: prices, dtype: int64

In [19]:
ords_prods_merge.shape #determining the shape of the dataframe.

(32404859, 19)

In [20]:
ords_prods_merge = ords_prods_merge[ords_prods_merge['prices'].isnull()== False]   #Dropping the null rows

In [21]:
ords_prods_merge.shape # Determining the number of rows the dataframe now

(32404859, 19)

In [22]:
# Creating a spending_flag by classifying spenders 
# creating 'mean_price' column
ords_prods_merge['mean_price'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [23]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest day,busiest_period_of_day,max_order,loyalty_flag,mean_price
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both,Mid_range_products,Regularly busy,Average orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid_range_products,Slowest days,Average orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid_range_products,Slowest days,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid_range_products,Slowest days,Average orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid_range_products,Slowest days,Most orders,10,New customer,6.367797
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid_range_products,Regularly busy,Average orders,10,New customer,6.367797
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid_range_products,Busiest days,Most orders,10,New customer,6.367797
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid_range_products,Busiest days,Most orders,10,New customer,6.367797
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid_range_products,Busiest days,Most orders,10,New customer,6.367797
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid_range_products,Slowest days,Average orders,10,New customer,6.367797
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid_range_products,Busiest days,Most orders,22,Regular customer,3.980556
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid_range_products,Regularly busy,Most orders,22,Regular customer,3.980556
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid_range_products,Regularly busy,Most orders,22,Regular customer,3.980556
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid_range_products,Busiest days,Most orders,22,Regular customer,3.980556
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid_range_products,Busiest days,Most orders,22,Regular customer,3.980556

In [24]:
#creating 'spending flags'
#over or equal the mean price 10 as 'high spender'& under mean price 10 as 'low spender'
ords_prods_merge.loc[ords_prods_merge['mean_price'] >= 10, 'spending_flag'] = 'High spender'
ords_prods_merge.loc[ords_prods_merge['mean_price'] < 10, 'spending_flag'] = 'Low spender'

In [25]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,_merge,price_range_loc,busiest day,busiest_period_of_day,max_order,loyalty_flag,mean_price,spending_flag
0,2539329,1,1,2,8,0.0,196,1,0,Soda,...,7,9.0,both,Mid_range_products,Regularly busy,Average orders,10,New customer,6.367797,Low spender
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,7,9.0,both,Mid_range_products,Slowest days,Average orders,10,New customer,6.367797,Low spender
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,7,9.0,both,Mid_range_products,Slowest days,Most orders,10,New customer,6.367797,Low spender
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,7,9.0,both,Mid_range_products,Slowest days,Average orders,10,New customer,6.367797,Low spender
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,7,9.0,both,Mid_range_products,Slowest days,Most orders,10,New customer,6.367797,Low spender
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,7,9.0,both,Mid_range_products,Regularly busy,Average orders,10,New customer,6.367797,Low spender
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,7,9.0,both,Mid_range_products,Busiest days,Most orders,10,New customer,6.367797,Low spender
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,7,9.0,both,Mid_range_products,Busiest days,Most orders,10,New customer,6.367797,Low spender
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,7,9.0,both,Mid_range_products,Busiest days,Most orders,10,New customer,6.367797,Low spender
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,7,9.0,both,Mid_range_products,Slowest days,Average orders,10,New customer,6.367797,Low spender
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,7,9.0,both,Mid_range_products,Busiest days,Most orders,22,Regular customer,3.980556,Low spender
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,7,9.0,both,Mid_range_products,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,7,9.0,both,Mid_range_products,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,7,9.0,both,Mid_range_products,Busiest days,Most orders,22,Regular customer,3.980556,Low spender
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,7,9.0,both,Mid_range_products,Busiest days,Most orders,22,Regular customer,3.980556,Low spender

In [26]:
# checking value counts for 'spending_flag'
ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low spender     31770614
High spender      634245
Name: spending_flag, dtype: int64

In [27]:
#step 7 #Creating 'median days since prior order' Column
ords_prods_merge['median_days_since_prior_ord'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [28]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,prices,_merge,price_range_loc,busiest day,busiest_period_of_day,max_order,loyalty_flag,mean_price,spending_flag,median_days_since_prior_ord
0,2539329,1,1,2,8,0.0,196,1,0,Soda,...,9.0,both,Mid_range_products,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,9.0,both,Mid_range_products,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,9.0,both,Mid_range_products,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.0
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,9.0,both,Mid_range_products,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,9.0,both,Mid_range_products,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.0
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,9.0,both,Mid_range_products,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,9.0,both,Mid_range_products,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.0
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,9.0,both,Mid_range_products,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.0
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,9.0,both,Mid_range_products,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.0
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,9.0,both,Mid_range_products,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,9.0,both,Mid_range_products,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,8.0
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,9.0,both,Mid_range_products,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,8.0
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,9.0,both,Mid_range_products,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,8.0
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,9.0,both,Mid_range_products,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,8.0
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,9.0,both,Mid_range_products,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,8.0

In [29]:
#creating a order Frequency flag column 
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_ord'] > 20, 'ord_frequency_flag'] = 'Non frequent customer'
ords_prods_merge.loc[(ords_prods_merge['median_days_since_prior_ord'] > 10) & (ords_prods_merge['median_days_since_prior_ord'] <= 20), 'ord_frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_ord'] <= 10, 'ord_frequency_flag'] = 'Frequent customer'

In [30]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,_merge,price_range_loc,busiest day,busiest_period_of_day,max_order,loyalty_flag,mean_price,spending_flag,median_days_since_prior_ord,ord_frequency_flag
0,2539329,1,1,2,8,0.0,196,1,0,Soda,...,both,Mid_range_products,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,both,Mid_range_products,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,both,Mid_range_products,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.0,Regular customer
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,both,Mid_range_products,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,both,Mid_range_products,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.0,Regular customer
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,both,Mid_range_products,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,both,Mid_range_products,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.0,Regular customer
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,both,Mid_range_products,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.0,Regular customer
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,both,Mid_range_products,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.0,Regular customer
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,both,Mid_range_products,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0,Regular customer
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,both,Mid_range_products,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,8.0,Frequent customer
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,both,Mid_range_products,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,8.0,Frequent customer
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,both,Mid_range_products,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,8.0,Frequent customer
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,both,Mid_range_products,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,8.0,Frequent customer
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,both,Mid_range_products,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,8.0,Frequent customer

In [31]:
# checking value counts for 'frequency flags'
ords_prods_merge['ord_frequency_flag'].value_counts(dropna=False)

Frequent customer        22796659
Regular customer          6921472
Non frequent customer     2686728
Name: ord_frequency_flag, dtype: int64

In [32]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','prepared Data', 'ords_prods_merge_grp_agg1.pkl'))